.mg-h2{
    margin-top: 21px;
}
td{
    vertical-align: middle !important;
}
.dropdown-menu>li>.btn-link {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
}
.hide{
    display: none;
}
.alert ul li::first-letter{
    text-transform: uppercase;
}
.chk-label{
    color: #000;
    font-weight:normal;
}
.active .chk-label{
    color: #fff;
}
.icon-select{
    height: inherit;
}

.navbar-brand img{
    float: left;
    margin-top: -10px;
    margin-right:10px;
}
.dropdown-menu li a span.glyphicon{
    margin-right: 10px;
}
a.logo {
    color:#2e2e2e;
    float:left;
    line-height: 80px;
    text-transform:uppercase;
    font-size: 15px !important;
    margin: 0 !important;
}
a.logo span {
    color: #fff !important;
}
.top-nav ul.top-menu>li:last-child a{
    background-color: #fff !important;
    border: 0 !important;
}

.top-nav ul.top-menu>li:last-child a:hover{
    background-color: #fff !important;
    border: 0 !important;
    color: #18bc9c !important;
}

.top-nav ul.top-menu>li:last-child a:focus{
    background-color: #fff !important;
    border: 0 !important;
}
.top-nav ul.top-menu>li:last-child a:focus span.username,
.top-nav ul.top-menu>li:last-child a:hover span.username{
    color: #18bc9c !important;
}
.top-nav ul.top-menu>li:last-child a:focus .caret,
.top-nav ul.top-menu>li:last-child a:hover .caret{
    border-bottom-color: #18bc9c;
    border-top-color: #18bc9c;
}
.form-control-checkbox{
    height: auto;
}
.form-control-checkbox small{
    font-weight: normal;
}

.wdgt-value p, .wdgt-value h1{
    color: #767676
}